{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
  <div class="wrapper">
    <div class="about">
      <div class="about__info">
        {% if type == 'bashaeva' %}
          <h2 class="about__title about__title_bashaeva" id="about">Информация о поставщике социальных услуг ИП Башаева Малика Рахмановна</h2>
          {% elif type == 'goldenkey' %}
          <h2 class="about__title" id="about">общие сведения об организации</h2>
        {% endif %}
        <ul class="about__items">
        {% for block in docsBlocks %}
        <li class="about__item">
          {% if block.isTitle %}
          <h3 class="about__docs-title">{{ block.title }}</h3>
          {% endif %}
          {% autoescape off %}
          {{ block.content }}
          {% endautoescape %}
        </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}