{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
  <div class="wrapper">
    <div class="about">
      <div class="about__info">
        <h2 class="about__title" id="about">общие сведения об организации</h2>
        <ul class="about__items">
        {% for block in docsBlocks %}
        <li class="about__item">
          <h3 class="about__docs-title">{{ block.title }}</h3>
          {% autoescape off %}
          {{ block.content }}
          {% endautoescape %}
        </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}